/* CSS declarations go here */
input.inline {
  border: 0;
  padding: 2px 0;
  margin: 0;
  width: 100%;
  display: block;
}

input.inline:focus {
  outline: 0;
  background-color: #FFFF99;
}

body {
  background-color: #edecde;
  color: #83581b;
  font-family: Lustria;
}

h2 {
  margin-bottom: 2px;
}

.warning {
  color: #c82c2c;
}

.help {
  padding-bottom: 20px;
  font-weight: normal;
}

div.clickable {
  cursor: pointer;
}

table {
  width: 100%;
  max-width: 800px;
  table-layout: fixed;
}

table th {
  color: #bebdb3;
  border-bottom: 1px solid #938557;
  padding-bottom: 5px;
}

table td {
  white-space: nowrap;
  overflow: hidden;
}

table td.actions {
  text-align: center;
}

table th.actions {
  width: 30px;
}

.actions a.remove {
  display: block;
  width: 22px;
  height: 22px;
  text-indent: -999px;
  background-image: url('editdelete.png');
  background-repeat: no-repeat;
  opacity: 0.5;
}

.actions a.add {
  display: block;
  width: 22px;
  height: 22px;
  text-indent: -999px;
  background-image: url('editadd.png');
  background-repeat: no-repeat;
  opacity: 0.5;
}

input.add {
  margin-top: 50px;
}

div.newlisthint {
  margin-top: 50px;
}

/********** TIMERS TABLE ***********/
.timers th.name {
  width: 130px;
  font-size: smaller;
}

.timers th.timeleft {
  width: auto;
}

.timers th.endtime {
  width: 120px;
}

.timers th.endtime, .timers td.endtime {
  padding-left: 20px;
}

.timers td.timeleft {
  position: relative;
  font-weight: bold;
}

.timers .timeleft div.timerbarcontainer {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 2px solid black;
  border-left: 2px solid black;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width: 100%;
}

.timers .timeleft div.timerbar {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddb965;
}

.timers div.timeleftcontent {
  position: absolute;
  top: 1px;
  left: 5px;
}

/********** CHARACTERS TABLE ***********/
.characters th.name {
  width: 100px;
}

.characters th.labormax {
  width: 65px;
}

.characters th.labor {
  width: auto;
}

.characters th.maxtime {
  width: 195px;
}

.characters th.maxtime, .characters td.maxtime {
  padding-left: 20px;
}

.characters td.labormax, td.labormax input.inline {
  text-align: center;
}

.characters td.labor {
  position: relative;
  font-weight: bold;
}

.characters .labor div.maxcontainer {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 2px solid black;
  border-left: 2px solid black;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.characters .labor .maxcontainer div.innercontainer {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddb965;
}

.characters div.laborcontent {
  position: absolute;
  top: 1px;
  left: 5px;
}

div.readonly {
  border-bottom: 1px solid #938557;
  background-color: #c82c2c;
  top: 0px;
  left: 0px;
  color: white;
  padding: 5px;
  margin: -8px;
  text-align: center;
}