

<template name="characters">
  <table class="characters"  cellpadding="0" cellspacing="0">
    <tr>
      <th class="actions"></th>
      <th class="name">Name</th>
      <th class="laborcap">Labor Cap</th>
      <th class="labor">Labor</th>
      <th class="captime">Cap Time</th>
    </tr>
      {{#each characters}}
        {{> character}}
      {{/each}}
    <tr>
      <td class="actions">
        <a class="add" href="javascript:return false">Add</a>
      </td>
    </tr>
  </table>
</template>

<template name="character">
  <tr>
    <td class="actions">
      <a class="remove" href="javascript:return false">Remove</a>
    </td>
    <td class="name">
      {{#if editingname}}
        <div class="editname">
          <input class="inline character-name-input" id="character-name-input" type="text" value="{{name}}" />
        </div>
      {{else}}
        <div class="name clickable">{{name}}</div>
      {{/if}}
    </td>
    
    <td class="laborcap">
      {{#if editinglaborcap}}
        <div class="editlaborcap">
          <input class="inline character-laborcap-input" id="character-laborcap-input" type="text" value="{{laborcap}}" />
        </div>
      {{else}}
        <div class="laborcap clickable">{{laborcap}}</div>
      {{/if}}
    </td>

    <td class="labor">
      <div class="maxcontainer" style="width: {{percentagemax}}%;">
        <div class="innercontainer" style="width: {{percentage.free}}%">
          &nbsp;
        </div>
         <div class="innercontainer patron" style="width: {{percentage.patron}}%">
          &nbsp;
        </div>
        <div class="innercontainer rested" style="width: {{percentage.rested}}%">
          &nbsp;
        </div>
        &nbsp;
      </div>
      <div class="laborcontent">
        {{#if editinglabor}}
          <div class="editlabor">
            <input class="inline character-labor-input" id="character-labor-input" type="text" value="{{currentlabor}}" />
          </div>
        {{else}}
          <div class="labor clickable">
            <span class="currentlabor">{{clampedLabor}}</span>
            {{#if isLaborWasted}}
              <span class="laborwaste warning">({{wastedLabor}} wasted!)</span>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </td>

    <td class="captime">
      <div class="captime">{{captimestring}}</div>
    </td>
  </tr>
</template>